<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIY PlatForm</title>
</head>
<body>
    <h1>DIY PlatForm</h1>
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <a href="/authors" class="btn btn-primary">Authors</a>
            <a href="/posts" class="btn btn-primary">Posts</a>
        </form>
    </nav>
    <%- include('_bootsrap') %>
</body>
</html>






